.row
  .large-12.columns
    %h2 Nieuw project
.row
  .large-12.columns
    %ul.breadcrumbs
      %li=link_to "Home", root_path
      %li=link_to "Dashboard", dashboard_dashboard_path
      %li=link_to "Projecten", dashboard_projects_path
      %li.current=link_to "Nieuw project", new_dashboard_project_path
.row
  .large-12.columns
    = render 'form'
