<footer class="footer container">
  <small>
    &copy; 2012 Scrumbaggz
  </small>
  <nav>
    <ul>
      <li><%= link_to "Over",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.sbovhg.nl/index.php?pg=Nieuwsbrief&pid=107/">Niews</a></li>
    </ul>
  </nav>
</footer>