.row.card-detail
  .large-12.columns
    %h2
      #{@group.title} voorbeeld
      =link_to edit_dashboard_group_path(@group), class: "btn-primary" do
        %i.icon-edit
        Bewerk team

.row
  .large-12.columns
    %ul.breadcrumbs
      %li=link_to "Home", root_path
      %li=link_to "Dashboard", dashboard_dashboard_path
      %li=link_to "Teams", dashboard_groups_path
      %li.current=link_to @group.title, dashboard_group_path(@group)

.row
  .large-12.columns
    %p=strip_tags @group.description

.full_width_gray
  .row.card-detail
    .large-12.columns
      %h4 Studenten die aan dit project werkten:
      %ul#users
        -@group.users.each_with_index do |user, index|
          -if index % 5 == 0
            %br
          =render :partial => "user", :locals => { :user => user }

.row.card-detail
  .large-12.columns
    .content=@group.content.html_safe

.row
  .large-12.columns
    %ul.large-block-grid-8.image-overview
      -@group.pictures.each do |pic|
        %li
          %a{href: "#{pic.image.url}", rel: "lightbox[pictures]"}
            = image_tag(pic.image.thumb.url)
