#container{
  
}
.item {
  width: 408px;
  margin: 20px 10px 10px 10px;
  float: left;
  background-color:#ffffff;
  border:solid 1px #B4BBCD;
  min-height:50px;
  text-align:justify;
  word-wrap:break-word;
  border: solid 1px black;
}