<% provide(:title, "Over") %>
<div class="row">
  <div class="span12 title"><h1>Over</h1></div>
</div>
<div class="row">
  <div class="span6 offset3">
  		<p>Omdat wij graag onze leerlingen ook buiten schooltijd de mogelijk willen bieden om te leren, willen we u uitnodigen om gebruik te maken van ons videoplatform. </p>
        <p>Dit platform is speciaal bedacht en ontworpen om de leerling meer tijd en mogelijkheid te geven om stof van een specifiek vak beter te snappen. Op dit platform zijn er alleen filmpjes beschikbaar die gekozen, of gemaakt zijn door leerkrachten van de Van Heuven Goedhart Openbare school voor speciaal basisonderwijs.</p>
        <p>Dit platform is gemaakt door <a href="http://project.cmi.hro.nl/2011_2012/emedia_med2c_t2/wordpress/">Scrumbaggz</a> in opdracht van <a href="http://www.sbovhg.nl/">SBO Van Heuven Goedhart</a> als 2e jaarsproject aan de Hogeschool Rotterdam voor de opleiding <a href="http://www.hogeschoolrotterdam.nl/opleidingen/communication-and-multimedia-design/voltijd">CMD</a>.</p>
  </div>
</div>