<% provide(:title, "Contact") %>
<div class="row">
  <div class="span12 title"><h1>Contact</h1></div>
</div>
<div class="row">
  <div class="span8 offset4">
  	<h2>
  		SBO Van Heuven Goedhart
  	</h2>
    <ul class='contact'>
        <li>
            <strong>Adres:</strong><br>
            Oosterhagen 247-251<br>
            3078 CL<br>
            Rotterdam
        </li>
        <li>
            <strong>Telefoon:</strong><br>
            010-4827377 / 06-41278744
        </li>
        <li>
            <strong>Email:</strong><br>
            ivo.bravenboer@boorrotterdam.nl
        </li>
        <li>
            <strong>Web:</strong><br>
            www.sbo-ijsselmonde.nl
        </li>
    </ul>
  </div>
</div>