.row
  .large-12.columns
    %h2 Nieuw collegejaar

.row
  .large-12.columns
    %ul.breadcrumbs
      %li=link_to "Home", root_path
      %li=link_to "Dashboard", dashboard_dashboard_path
      %li=link_to "Collegejaren", dashboard_college_years_path
      %li.current=link_to "Nieuw collegejaar", new_dashboard_college_year_path

.row
  .large-12.columns
    = render 'form'
