<% provide(:title, "Inloggen") %>
<div class="row">
    <div class="span12 _head clearfix">
        <%= image_tag("nav_icons/profiel.png", alt: "Inloggen") %><h1>Inloggen</h1>
    </div>
</div>
<div class="row">
  <div class="span6 offset3">
    <%= render 'sessions/signin_form' %>
  </div>
</div>