// Imports
@import "foundation";

// Variables
$darker: #555555;
$dark: #c1c1c1;
$light: #eeeeee;
$light-gray:#f3f3f3;
$gray:#bbbbbb;
$default-blue: #22a0e9;
$lighter-blue: #65cff8;
$darker-blue: #459cd0;
$header-dark-blue: #0088d6;

// Fonts
@font-face {
    font-family: 'Source Sans Pro';
    src: font-url('sourcesanspro-regular-webfont.eot');
    src: font-url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg'),
       font-url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('sourcesanspro-regular-webfont.woff') format('woff'),
         font-url('sourcesanspro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: font-url('sourcesanspro-semibold-webfont.eot');
    src: font-url('sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg'),
       font-url('sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('sourcesanspro-semibold-webfont.woff') format('woff'),
         font-url('sourcesanspro-semibold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: font-url('sourcesanspro-light-webfont.eot');
    src: font-url('sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg'),
       font-url('sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('sourcesanspro-light-webfont.woff') format('woff'),
         font-url('sourcesanspro-light-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

// General styles
a{
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
}

body,html{
  height:100%;
}

// Header, Body, Footer
.test{
  border:solid black 1px;
}

.contact_person {
  padding-top: 10px;
}

.maps {
  float: left;
}

.maps_info {
  float: left;
  margin-left: 25px;
}

ul.address {
  list-style: none;
}

.italic {
  font-style: italic;
}
.smaller {
  font-size: 0.9em;
}

ul.contact_person {
  list-style: none;
}

.contact_person_image {
  width: 150px;
}

ul.creators {
  margin-left: 15px;
  padding-left: 15px;
  list-style-type: square;
  float: left;
}

.footer_icon {
  width: 20px;
}

.logo_icon {
  background-color: $default-blue;
  width: 120px;
  float: left;
}

.full_width_blue {
  color: #fff;

  .thumbnail{
    text-align: center;
    img{
      vertical-align: middle;
      margin: 15px 0 0;
    }
  }

  .project_wrapper {
    h2 {
      font-weight: normal;
    }
    margin-bottom: 20px;
    min-height:150px;
  }

  .college_year_wrapper {
    margin-left: 160px;
    p {
      margin-left: 15px;
      width: 54%;
    }
  }

  .read-more-left {
    width: 35px;
    margin: 30px 0;

    a {

      z-index: 2; cursor: pointer;
      width: 100%;
      padding: 12px 0 10px 100%;
      background: url('icon_arrow_prev.png') no-repeat 40% 10px;
      text-decoration: none; color: white; font-size: 0.9em;
      background-color: rgba(0, 0, 0, 0.2);
      &:hover {
        background: url('icon_arrow_prev.png') no-repeat 40% 10px;
        opacity: 0.3;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .read-more-right {
    width: 35px;
    margin: 30px 0;

    a {

      z-index: 2; cursor: pointer;
      width: 100%; padding: 12px 0 10px 100%;
      background: url('icon_arrow_next.png') no-repeat 60% 10px;
      text-decoration: none; color: white; font-size: 0.9em;
      background-color: rgba(0, 0, 0, 0.2);
      &:hover {
        background: url('icon_arrow_next.png') no-repeat 60% 10px;
        opacity: 0.3;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }


  h2 {
   color: #fff;
   float: left;
   margin-left: 10px;
   margin-bottom: 10px;
  }
  p {
    margin: 0;
  }
  .college_year {
    font-weight: bolder;
  }
}

header, .full_width_blue {
  background: $default-blue;
}

header{
  h5{
    background: #fff;
    opacity: 0.5;
    margin-top: 44px;
    height: 40px;
    text-align: center;
    padding: 5px;
  }
}

.full_width_blue{
  p{
    font-size: 0.90em;
    color: #fff;
    margin-left: 10px;
  }
  a{
    color: #fff;
  }
}

#header {
  margin-bottom: 0px;
}

#header a {
  color: #fff;
  margin-left: 5px;
}

body {
  background: #fff;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-size: 1em; line-height: 1.5;
  font-weight: normal;
  color: $darker;
}

h1, h2, h3, h4, h5{
  font-family: 'Source Sans Pro';
  .btn-primary{
    float: right;
  }
}
#footnotes_holder #footnotes_debug{
  font-size:15px;
}
.nav-bar p {
    padding: 10px;
}
#login {
  font-size: 15px;
  color: #0088d6;
  font-weight: bold;
  margin-top: 0;
  background: #fff;
  opacity:0.5;
  text-align: center;
  padding: 15px 20px;
  &:hover {
      opacity: 0.9;
    }
}

.login-menu{
  li{
    font-weight: bold;
    padding: 10px;
    margin:0;

    a{
      color: $default-blue;
      padding:10px;
      &:hover {
        color: #fff;
        background: $lighter-blue;
      }
    }


    .logout{
      background: $default-blue;
      color:#fff;
    }
  }
}

h1 {
  font-size: 4em; font-weight: normal; color: $darker;
}

h2 {
  font-size: 3em; font-weight: 100; color: $darker;
  color: #0088d6;
}

h3 {
  font-size: 2em; font-weight: 100; color: $darker;
  color: #0088d6;
}

h4 {
  font-size: 1.7em; font-weight: 100; color: $darker;
  color: #0088d6;
}

h5 {
  font-size: 1.5em; font-weight: 100; color: $darker;
}

#user-nav{
  background:#fff;

  p{
    color: $darker;
    margin: 10px;
  }

  img{
    width: 36px;
    vertical-align: middle;
    margin: 4px 10px 0 0;
    float: left;
  }
}

// Home Grid
@mixin hover-link($size) {
  a.read-more {
    position: absolute; left: 0; bottom: 0px; z-index: 2; cursor: pointer;
    text-align:center;
    width: 100%; height: 100%;
    text-decoration: none; color: white; font-size: $size;

    &:hover {
      background: rgba(248, 178, 56, 1);
    }
  }
}
.gridster {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  .project {
    display: inline-block;
    width: 140px; height: 140px; margin: 0 20px 20px 0;
    line-height: 145px;
    @include hover-link(0.8em);
  }
  .project-horizontal-square {
    display: inline-block;
    width: 300px; height: 140px; margin: 0 20px 20px 0;
    line-height: 145px;
    @include hover-link(1.3em);
  }
  .project-vertical-square {
    display: inline-block;
    width: 140px; height: 300px; margin: 0 20px 20px 0;
    line-height: 309px;
    @include hover-link(0.9em);
  }
  .project-square {
    display: inline-block;
    width: 300px; height: 300px; margin: 0 20px 20px 0;
    line-height: 309px;
    @include hover-link(1.3em);
  }
}

.no-bg {
  background: none !important;
}

// Timeline
.timeline-intro{ margin-top:30px; }

.college-year-time{
  margin-bottom: 50px;
}

.timeline, .timeline-info {
  background: url('timeline_bar.png') top center repeat-y; height: 100%;

  .year {
    width: 140px; margin: 0 auto 20px;
    background: #0088d6; ;
    font-size: 1.25em; color: white; text-align: center; padding-top: 3px;
    a{
      color: #fff;
    }
  }

  .semester {
    width: 90px; margin: 0 auto 30px;
    background: #22a0e9; ;
    font-size: 1em; color: white; text-align: center; padding-top: 3px;
  }

  .project {
    width: 425px;
    padding: 0;
    background: #f2f2f2;
    margin:0 27px 50px;
    float: left;
    min-height:50px;
    text-align:justify;
    word-wrap:break-word;
    height: 260px;

    .box-description{
      height: 105px;
      margin: 0 0 10px;
    }

    h4 {
      padding: 0 2%;
      font-size: 1.125em; font-weight: bold;
      color: #0088d6;
    }

    p {
      padding: 0 2%;
    }

    h2 {
      margin: 0 0 0 10px;
      font-size: 2em;
      font-weight: normal;
      height: 50px;
      overflow: hidden;
    }

    .read-more {
      position: relative;

      img {
        position: relative;
        z-index: 1;
      }

      a {
        position: absolute; left: 0; bottom: 0px; z-index: 2; cursor: pointer;
        width: 100%; padding: 5px 0 2px 77%;
        background: #f8b238 url('icon_arrow_next.png') no-repeat 98% 7px;
        text-decoration: none; color: white; font-size: 0.9em;

        &:hover {
          background: #ea9e1b url('icon_arrow_next.png') no-repeat 98% 7px;
        }
      }
    }
      &:after{
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-right: 100px solid red;
        border-bottom: 50px solid transparent;
      }
    }
  }

.head-left{
  height: 30px;
  background: #2169d0;
  position: relative;
  color: #fff;
  text-align: left;
  font-size: 18px;
  padding: 4px 10px;
  margin-bottom: 10px;

  &:after{
    content: "";
    position: absolute;
    left: 100%;
    top: 3px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 13px solid #2169d0;
    border-bottom: 12px solid transparent;
  }
}

.head-right{
  height: 30px;
  background: #2169d0;
  position: relative;
  color: #fff;
  text-align: right;
  font-size: 18px;
  padding: 4px 10px;
  margin-bottom: 10px;

  &:after{
    content: "";
    position: absolute;
    right: 100%;
    top: 3px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 13px solid #2169d0;
    border-bottom: 12px solid transparent;
  }
}

.red{
  background: red;
  &:after{
    border-right-color: red;
    border-left-color:red;
  }
}

.light_blue{
  background: #408cd0;
  &:after{
    border-right-color: #408cd0;
    border-left-color: #408cd0;
  }
}

// Detail Pagina
a.back {
  margin:10px 0 10px;
  font-size: 15px;
  img{
    vertical-align: middle;
    padding:0 0 0 5px;
  }
}
.card-detail{
  h1{
    font-weight: bold;
    margin:25px 0 0;
  }
  h2,h3{
    margin:25px 0 0;
  }
  h4{
    color:$darker-blue;
  }
  p{
    margin:0;
  }
}

.hr-info {
  float:left;
  margin-right: 10px;
  font-size: 0.9em;
  height: 20px;
  width: 212px;
}

.hr-icon {
  float: right;
}

#users{
  list-style-type: none;
  margin:5px 0;
  li{
    display:inline-block;
    margin-right: 20px;

    .user-info{
      white-space: nowrap;
      float:right;
      margin:15px 0 0 15px;
      height:65px;
      p{
        margin: 0 0 5px;
      }
    }
    .more{
      color:#fff;
      background:$default-blue;
      padding: 7px 10px;

      i{
        margin-right:5px;
      }

      &:hover{
        background:$lighter-blue;
      }
    }
  }
}

.full_width_gray{
  background:$light-gray;
  padding:0;
  margin: 15px 0;
}

.attachments, .attachinary_container{
  margin:35px 0;

  ul{
    list-style-type: none;

    li{
      display: inline-block;
      float: left;
      border: solid 1px gray;
      margin: 5px;
      padding: 5px;

      img{
        vertical-align: middle;
      }
    }
  }
}

.project_schoolyear {
  padding-bottom: 10px;
}

#project-header{
  min-height: 200px;
  padding-bottom: 10px;

  a{
      background-color: #0088d6;
      color: #fff;
      text-decoration: none;
      text-align: center;
      &:hover {
        background-color: #fff;
        color: #0088d6;
        text-decoration: none;
      }
  }

  h1{
    color:#fff;
    margin:20px 25px 0;
    .btn-primary{
      font-size: 15px;
    }
  }
  p{
    strong{
      color:$light-gray;
    }
    color:#fff;
    margin:0 25px;
  }

  .back-arrow{
    padding: 75px 0;
    a{
      font-size: 35px;
      display: inline-block;
      padding: 8px 10px 7px;
      line-height: 0px;
    }
  }

  #project-logo{
    padding:0;
    a{
      font-size: 12px;
      display: block;
      height: 200px;
      padding-top: 40px;
      img{
        margin-top: 10px;
      }
    }
}

}

li.th{
  line-height: 0;
  display: inline-block;
  border: solid 4px white;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  padding: 0;
  margin: 0 5px 5px;
}

.card {
    width: 425px; padding: 0;
    background: #f2f2f2;
    margin:20px 27px 10px;
    float: left;
    min-height:50px;
    text-align:justify;
    word-wrap:break-word;
    height: auto;

    h2 {
      padding: 0 4%;
      font-size: 1.125em; font-weight: bold;
      color: #0088d6;
    }

    p {
      padding: 0 4%;
    }

    .read-more {
      position: relative;

      img {
        position: relative;
        z-index: 1;
      }

      a {
        position: absolute; left: 0; bottom: 0px; z-index: 2; cursor: pointer;
        width: 100%; padding: 5px 0 2px 77%;
        background: #f8b238 url('icon_arrow_next.png') no-repeat 98% 7px;
        text-decoration: none; color: white; font-size: 0.9em;

        &:hover {
          background: #ea9e1b url('icon_arrow_next.png') no-repeat 98% 7px;
        }
      }
    }
      &:after{
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-right: 100px solid red;
        border-bottom: 50px solid transparent;
      }
    }


//  Dashboard styles
$light-blue:#38b3f8;

h1#dashboard{
  margin:25px 0;
  color:#fff;
  font-size: 1.5em;
  font-weight: bold;
}

#dash-nav{
  list-style-type: none;
  margin: 5px 0;

  li{
    display: inline-block;

    a{
      background: $light-blue;
      color: #fff;
      padding: 10px 50px 10px 10px;
      font-weight: bold;

      &:hover{
        background: $lighter-blue;
      }
    }
  }

  li.active{
    a{
      background:#fff;
      color: $default-blue;
    }
  }
}

#dashboard{
  h2{
    color: $light-blue;
    font-size: 1.8em;
    font-weight: normal;
    margin: 15px 0;
  }
}

.btn-primary{
  @include button(0.6em, $default-blue, false, false, false, false);
  border:none;
  vertical-align: middle;
  font-size: 0.5em;
  i{
    margin-right: 5px;
  }
}

// file upload
.progress span.meter{
  text-align: right;
  padding: 0 5px;
  line-height: 22px;
  color: white;
  font-weight: bold;
  width: 0%
}

.fileupload-buttonbar{
  margin:emCalc(10px);
}
ul.thumbnails{
  list-style-type: none;
  padding: 0 emCalc(45px);
  li{
    display: inline-block;
    margin:emCalc(5px);
    display:emCalc(10px);
    a > img {
      display: block;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    p{
      margin: 10px 0 0;
      text-align: center;
    }
  }
}

.user-detail-right, .user-detail-left, .first-name, .description {
  float: left;
  width: 350px;
}

.user-detail-right, .avatar {
  margin-left: 30px;
}

.first-name {
  font-size: 1.5em; font-weight: 100; font-weight: bold;
  margin-bottom: 10px;
}

.user-detail-right {
  margin-top: 10px;

  p {
    margin:0;
  }

}

.user-projects {
  margin-top: 10px;
}

.full_width_gray span.profile-info {
  color: $lighter-blue;
  font-weight: bold;
}

a.profile-info, a.profile-info:visited, a.profile-info:focus, a.profile-info:hover  {
    color: $darker;
}

.avatar {
  margin-top:20px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}

.avatar_overview {
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    -moz-box-sizing: border-box;
    background-color: #E9EDF0;
    border: 2px solid #CCCCCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875em;
    height: 2.3125em;
    margin: 0 0 1em;
    padding: 0.5em;
    transition: all 0.15s linear 0s;
    width: 100%;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
  background: none repeat scroll 0 0 #FAFAFA;
  border-color: #38b3f7;
  outline: medium none;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="week"]:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="time"]:hover, input[type="url"]:hover, textarea:hover {
  border: 2px solid #70d2ff;
}

.field_first_name, .field_last_name, .field_email {
  width: 480px;
  margin-right: 20px;
  float: left;
}

.field_studentnumber, .field_starting_year, .field_email {
  width: 312px;
  margin-right: 20px;
  float: left;
}

.field_portfolio {
  width: 97.7%;
}

.clearFix {
  clear: both;
}

#user_description {
    width: 97.7%;
}

h3.user-projects {
    margin-left: 26px;
    font-weight: 400;
    margin-top: 10px;
}

#user_portfolio {
  width: 97%;
}

.field_picture > img {
    width: 150px;
}

.card-detail .content {
  margin-top: 20px;
}

.image-overview {
  margin:30px 0 50px;
  border-top: 1px solid $default-blue;
  padding-top: 15px;
}

.image-overview img:hover {
  opacity: 0.6;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

p.upload-avatar {
  font-size: 0.95em;
  font-weight: bolder;
}

li.feedback {
  font-size: 1.5em;
}

.full-modal {
  @include reveal-modal-style($top-offset:0);
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  width:  100% !important;
  min-height: 100% !important;
  left: 0px !important;
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  // overflow: scroll;
}
.close-full-modal {
  position: relative !important;
  top: 0 !important;
  color: #fff !important;
  font-weight: normal !important;
  margin:10px 0 10px!important;
  font-size: 15px !important;
  cursor: pointer;
  img{
    vertical-align: middle;
    padding:0 0 0 5px;
  }
}


.button.medium.secondary {
  margin-left: 10px;
  padding: 18px;
}

tbody tr.odd {
    background-color: #9adcf6 !important;
}

tbody tr.odd td.sorting_1 {
    background-color: #65cff8 !important;
}

tbody tr.even td.sorting_1 {
    background-color: #80d4f5 !important;
}

.info-row{
  background-color: $light-gray;
  height: 100px;
  margin: 0 !important;
  .logo{
    text-align: center;
    padding: 10px 0 0;
  }
  h3{
    font-size: 25px;
    font-weight: bold;
    margin: 5px 0 0;
  }
  p{
    margin: 0;
  }
  .info-description{
    height: 100px;
    strong{
      margin-left: 15px;
    }
  }
  .nested-list{
    background-color: $light-blue;
    height: 100px;
    color: #fff;
  }
  ul{
    list-style-type: none;
    margin: 5px;
    li{
      text-align: center;
    }
    a{
      padding: 5px 0;
      color: #fff;
      font-weight: bold;
      height: 100%;
      width: 100%;
      display: block;
      &:hover{
        background-color: #fff;
        color: $light-blue;
      }
    }
  }
}

.card-info-row{
  @extend .info-row;
  height: 120px;
  .card-nested-list{
    @extend .nested-list;
    height: 120px;
  }
  .info-description{
    height: 120px;
  }
}

.button.info{
  @include button-style($bg: #ff7900);
}

.buttons-row{
  ul{
    list-style-type: none;
    margin: 5px 0;
    li{
      display: inline-block;
    }
  }
}

ul.navbar{
  list-style-type: none;
  margin: 10px;
  li{
    display: inline-block;
    width: 150px;
    text-align: center;
    a{
      background-color: $lighter-blue;
      padding: 5px 0;
      color: #fff;
      font-weight: bold;
      height: 100%;
      width: 100%;
      display: block;
      &:hover{
        background-color: $light-blue;
      }
      &.active{
        background-color: $light-blue;
      }
    }
  }
}

.select2-container{
  margin-bottom: 15px;
}

#cke_group_content{
  margin-bottom:15px;
}

.project-timeline{
  margin: 15px 0 0;
}

.edit_profile {
  margin-left: 27px;
}