<div class="row">
	<div class="span6 offset3">
    	<form action="/movies" method="post" class="well">
    		<fieldset>
    			<legend>Add movie</legend>
				<label>Title:</label>
	        	<input type="text" name="title" placeholder="The Shawshank Redemption" class="span5">

	        	<label>Release Year:</label>
	        	<input type="text" name="released" placeholder="1994" class="span5">

	        	<label>Description:</label>
	          	<textarea name="description" placeholder="Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency. &hellip;" class="span5"></textarea>


				<button class="btn btn-primary btn-large span5" type="submit">Add Movie</button>

      	 </fieldset>
      	</form>
   
    </div>
</div>