<div class="row">
	<div class="span6 offset3 well">
		<h2>All Movies <span class="edit"><a href="/movies/add">[Add new movie]</a></span>  </h2>
		<ol class="list">
			<% @movies.each do |movie| %>  
			  <li><a href="movies/<%= movie.id %>"><%= movie.title %> (<%= movie.released %>)</a></li>
			<% end %>  
		</ol>
	</div>
</div>
