.row
  .large-12.columns
    %h2 About

    %h3 Wat kunt u op deze website vinden?

    %p 
      Deze website bevat projecten en evenementen van de Hogeschool Rotterdam. Dit zijn projecten van eerstejaars tot en met vierdejaars studenten. Bovenin de homepagina vind u willekeurige uitgelichte projecten, als u naar beneden scrolt kunt u projecten bekijken via een tijdlijn. Op de tijdlijn kunt u ook filteren op jaren, categorieën en evenementen.

    %h3 Waarom is de website opgezet?

    %p 
      De website is opgezet om de opleiding Mediatechnologie inzichtelijker te maken voor verschillende bezoekers. Denk hierbij aan nieuwe studenten, huidige studenten maar ook bezoekers die het interessant vinden om te zien wat er wordt ontwikkeld op de opleiding.

    %h3 Hoe is deze website ontstaan?

    %p 
      Deze website is gerealiseerd door twee studenten van de opleiding Mediatechnologie en één student van de opleiding Communication and Multimedia Design. Het is een project geweest voor de module Medialab en gedurende een half jaar hebben Maurice Moret (MT), Sebastiaan Scheers (MT) en Roy Bron (CMD) het opgezet.

    =image_tag "logo.png", class: "logo_icon"

    %ul.creators
      %li 
        %a{href: "http://www.mauricemoret.nl/"} Maurice Moret
      %li 
        %a{href: "http://sebastiaanscheers.nl/"} Sebastiaan Scheers
      %li 
        %a{href: "http://roybron.com/"} Roy Bron