.row
  .large-12.columns
    %h2 #{@client.name} bewerken
.row
  .large-12.columns
    %ul.breadcrumbs
      %li=link_to "Home", root_path
      %li=link_to "Dashboard", dashboard_dashboard_path
      %li=link_to "Opdrachtgevers", dashboard_clients_path
      %li=link_to @client.name, dashboard_client_path(@client)
      %li.current=link_to "Bewerk opdrachtgever", edit_dashboard_client_path(@client)
.row
  .large-12.column
    = render 'form'