#myModal.reveal-modal.full-modal
  .row
    .large-12.columns
      %h2 Awesome. I have it.
      %p.lead Your couch.  It is mine.
      %p Im a cool paragraph that lives inside of an even cooler modal. Wins
      %a.close-reveal-modal ×

.row
  .large-12.columns
    %h2 Dashboard

    %p Maak een nieuw collegejaar aan, verbind projecten aan collegejaren en vervolgens kunnen teams aan projecten gekoppeld worden.  

    %p 
      Projecten kunnen een sticker (QR-Code) aan zichzelf gekoppeld hebben. 
      %br
      Teams hebben gebruikers en opdrachtgevers aan zich gekoppeld.

    %a{href: "#{asset_path('visualisatie.png')}", rel: "lightbox"}
      = image_tag "visualisatie.png", class: "visualisation"
    %p.italic.smaller Een schematische weergave van de werking van collegejaren, projecten en teams.

