<% provide(:title, 'Video toeveogen') %>
<div class="row">
    <div class="span12 title"><h1>Video toevoegen</h1></div>
</div>
<div class="row">
  <div class="span8 offset2">
    <%= render 'videos/form' %>
  </div>
</div>