.row
  .large-12.columns
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        .alert-box{"data-alert" => "", :class => "#{name == :notice ? "success" : "alert"}"}
          = msg
          %a.close{:href => "#"} &times;